html {
    background-color:  }



/*img {
    border-radius: 50%;
  }*/
  

  /*.container {
    display: flex;
  }*/

h1 {
 color: black;

}

body {
background: 
   url("http://www.astronomy.com/-/media/Images/News%20and%20Observing/News/2019/01/solar_systemmashup.jpg?mw=600")
   top center / 200px 200px
   no-repeat;
  
}

