/*html {
    background-color: rgb(59, 117, 172);
  }*/



img {
    border-radius: 50%;
  }
  

.test {
     margin: 1em
     backround-color: yellow;
    /*display: flex;*/
  }

/*h1 {
 color: red;*/

}

body {
background: 
   url("http://www.astronomy.com/-/media/Images/News%20and%20Observing/News/2019/01/solar_systemmashup.jpg?mw=600")
background-size: contain
   no-repeat
 
}

